@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* -----------------Body */

body {
    background-color: #222;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    color: #333;
}

/* ---------------Containers */

.main-container {
    margin: auto;
    width: 60%;
    background: #fff;
    border-radius: 25px;
    margin-bottom: 50px;
}

.intro {
    width: auto;
    text-align: center;
}

.quiz-content {
    margin: 20px;
}

.questions {
    padding: 20px;
    margin-top: -50px;
}

#result-container {
    font-weight: bold;
    text-align: center;
}

.answers {
    padding: 20px;
}

.about {
    margin: auto;
    padding: 10px;
    width: 70%;
    text-align: justify;
}

.about-sections {
    margin: auto;
}

.social-media {
    text-align: center;
}

.feedback {
        margin: auto;
        padding: 10px;
        width: 70%;
        text-align: center;
}

/* -----------------Form */

textarea {
    width: 70%;
    height: 100px;
}

/* ----------------Links */

a {
    text-decoration: none;
    color: #aaa;
}

a:hover {
    color: #fff;
}

.social-media a {
    font-size: 30px;
    color: #555;
}

.social-media a:hover {
    color: #333;
}

/* ---------------Headings */

.main-heading {
    font-size: 5vw;
    margin-bottom: -5px;
}

.main-subheading {
    font-size: 3vw;
}

.question-heading {
    font-size: 2vw;
}

/* ----------------Buttons */

button {
    margin-top: 10px;
    padding: 20px 20px;
    background: #555;
    border-radius: 4px;
    color: white;
    border: none;
    width: 100%;
}

button:hover {
    background: #ccc;
    color: #333;
    cursor: pointer;
}

/* -----------------Images */

.main-image {
    width: 100%;
    margin: auto;

}

/* ------------------Header */

.navbar {
    margin: auto;
    text-align: center;
    font-size: 30px;
    color: #555;
}

/* -----------------Footer */

.footer {
    margin: auto;
    text-align: center;
    font-size: 30px;
    padding-bottom: 40px;
}

/* ----------------Media Queries */

@media (max-width: 600px) {
    .navbar {
        font-size: 20px;
    }
    .footer {
        font-size: 20px;
    }
    .main-container {
      width: 80%;
    }
    .main-heading {
        font-size: 35px;
        margin-bottom: 5px;
    }
    .main-subheading {
        font-size: 15px;
    }
    .question-heading {
        font-size: 15px;
    }
    .h3 {
        font-size: 15px;
    }
  }

  @media (min-width: 601px) and (max-width: 950px) {
    body {
        font-size: 20px;
    }
    .navbar {
        font-size: 20px;
    }
    .footer {
        font-size: 20px;
    }
    .main-container {
      width: 70%;
    }
    .main-heading {
        font-size: 50px;
        margin-bottom: 5px;
    }
    .main-subheading {
        font-size: 30px;
    }
    .question-heading {
        font-size: 15px;
    }
    .h3 {
        font-size: 15px;
    }
  }

  .hide {
    display: none;
  }