@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* -----------------Body */

body {
    background-color: #222;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    color: #333;
}

/* ---------------Containers */

.main-container {
    margin: auto;
    width: 60%;
    background: #fff;
    border-radius: 25px;
    margin-bottom: 50px;
}

.intro {
    width: auto;
    text-align: center;
}

.questions {
    padding: 20px;
}

.answers {
    padding: 20px;
}

/* ----------------Links */

a {
    text-decoration: none;
    color: #aaa;
}

a:hover {
    color: #fff;
}

/* ---------------Headings */

.main-heading {
    font-size: 5vw;
    margin-bottom: -5px;
}

.main-subheading {
    font-size: 3vw;
}

.question-heading {
    font-size: 2vw;
}

.intro {

}

/* -----------------Images */

.main-image {
    width: 100%;
    margin: auto;
}

/* ------------------Header */

.navbar {
    margin: auto;
    text-align: center;
    font-size: 30px;
}

/* -----------------Footer */

/* ----------------Media Queries */

@media (max-width: 600px) {
    .navbar {
        font-size: 20px;
    }
    .main-container {
      width: 80%;
    }
    .main-heading {
        font-size: 35px;
        margin-bottom: 5px;
    }
    .main-subheading {
        font-size: 15px;
    }
    .question-heading {
        font-size: 15px;
    }
  }